input {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ababab;
  border-radius: 4px;
  padding: 10px 30px;
  margin: 6px 6px;
}

label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 17px;
}