button {
  background-color: #F2E6FF;
  color: #150080;
  border: 2px solid;
  border-color: #33BBFF;
  border-radius: 5px;
  padding: 10px 92px;
  font-weight: 300px;
  font-size: 18px;
  width: 80%;
}