.homePage {
  background-color: rgb(168, 168, 170);
}

.titleHome {
  color: rgb(22, 21, 21);
  padding: 40px;
  width: 100%;
  margin-top: 10px;
  font-size: 40px;
  background-color: rgb(170, 168, 168);
  text-align: center;
  align-items: center;
}

h2 {
  color: #0c08f7;
  text-align: justify;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  font-size: 30px;
  background-color: rgb(170, 168, 168);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  }

  li {
    display: grid;
  }