
h1 {
  color: rgb(22, 21, 21);
  text-align: justify;
  padding: 20px;
  width: 100%;
  display: flex;
  margin-top: 20px;
  font-size: 30px;
  background-color: rgb(220, 79, 255);
  align-items: center;
}

h2 {
  color: #fdfdfd;
  text-align: justify;
  padding: 20px;
  width: 30%;
  margin-top: 10px;
  font-size: 20px;
  background-color: rgb(89, 78, 241);
  margin-top: 20px;
  }