
.titleHome {
  color: rgb(22, 21, 21);
  text-align: justify;
  padding: 40px;
  width: 100%;
  margin-top: 10px;
  font-size: 40px;
  background-color: rgb(205, 203, 206);
  text-align: center;
}

h2 {
  color: #6f25f8;
  text-align: justify;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  font-size: 22px;
  background-color: rgb(250, 248, 118);
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  }

  li {
    display: grid;
  }