.modal {
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 500px;
  -webkit-box-shadow: 2px 4px 18px 3px rgba(0,0,0,0.89); 
box-shadow: 2px 4px 18px 3px rgba(0,0,0,0.89);
}

.modal h3, .modal p {
  margin: 0;
}

.modal header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 3px;
  background-color: rgba(61, 123, 255, 0.89);
  color: white;
}

.closer {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-weight: 900;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.closer:hover {
  color: rgb(rgb(255, 0, 0), green, blue)
}