.modal {
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 500px;
  -webkit-box-shadow: 2px 4px 18px 3px rgba(0,0,0,0.89); 
box-shadow: 2px 4px 18px 3px rgba(0,0,0,0.89);
}

.modal h3, .modal p {
  margin: 0;
}

.modal header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 3px;
  background-color: rgba(188, 25, 252, 0.89);
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

.closer {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-weight: 900;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 360px;
}

.closer:hover {
  color: rgb(rgb(255, 0, 0), green, blue)
}

.buttonModal {
  background-color: #cec9d3;
  color: #05030f;
  border: 2px solid;
  border-color: #043b57;
  border-radius: 5px;
  padding: 5px 50px;
  font-weight: 100px;
  font-size: 15px;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 10px;
}