form {
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border: 1px solid;
  border-color: 1px gray;
  background-color: #FFFBE6;
}

a {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #FF00AA;
}