form {
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 55%;
  border: 1px solid;
  border-color: 1px #99AAFF;
  background-color: #E6FFFF;
}

a {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #3355FF;
}