.pageMovie {
  background-color: rgb(170, 168, 168);
}

.moviePage {
  color: rgb(173, 30, 30);
  padding: 30px;
  width: 100%;
  font-size: 50px;
  background-color: rgb(170, 168, 168);
  text-align: center;
}

.h3Movie {
  color: #664240;
  text-align: justify;
  padding: 10px;
  width: 30%;
  margin-top: 10px;
  font-size: 20px;
  background-color:  rgb(170, 168, 168);
  margin-top: 20px;
  }